footer{

    background-color: rgb(71, 72, 107);
    color: rgb(115, 141, 163);
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    align-items: flex-start; 
    justify-content: center;
    
}